<div class="slot-container">
    <div>
        <div>{{one}}</div>
    </div>
    <div>
        <div>{{two}}</div>
    </div>
    <div>
        <div>{{three}}</div>
    </div>
</div>
<div *ngIf="credits > 0">
    <button type="button" (click)="getRoll()">Roll</button> 
</div>
<div>
    <div>{{credits}}</div>
</div>

<div  onmouseenter="moveCashOutButton()" *ngIf="moveButton">
    <div>
        <button (onmouseover)="moveCashOutButton()" type="button" (click)="cashOut()">Cash out</button> 
    </div>
</div>

<div class="slot-container">
    <div>
    </div>
</div>

<div onmouseenter="moveCashOutButton()" *ngIf="!moveButton">
    <div>
        <button type="button" (click)="cashOut()" >Cash out</button> 
    </div>
</div>